<!-- templates/info.html-->

{% extends "base.html "%}

{% block content %}

<div class="jumbotron">
    <h1>About our company</h1>
    <p>RedCarpet lends to customers in India . There are less than 50 million credit cards for almost a billion people in India.... because there is no data, no widespread credit bureaus to profile and score customers. RedCarpet gathers alternative data ethically and responsibly . We use this data to give access to credit line cards to users who never had any access to credit before.</p>
</div>

{% endblock %}